{
  "openapi": "3.1.0",
  "info": {
    "title": "Xquik Read API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://xquik.com"
    }
  ],
  "paths": {
    "/api/v1/x/tweets/search": {
      "get": {
        "operationId": "searchTweets",
        "summary": "Search X posts by query, status URL, or account date window",
        "security": [
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query."
          },
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["Latest", "Top"],
              "default": "Latest"
            },
            "description": "Sort order."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            },
            "description": "Maximum results to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated posts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauthBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "PaginatedTweets": {
        "type": "object",
        "required": ["tweets", "has_next_page", "next_cursor"],
        "properties": {
          "tweets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchTweet"
            }
          },
          "has_next_page": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "SearchTweet": {
        "type": "object",
        "required": ["id", "text"],
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  }
}
